body {    font-family: Arial, sans-serif; }
body {
    background-color: rgb(223, 179, 179);
    display: grid;
}
section {
    background-color: white;
    padding:30px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 10px magenta;
    display: grid;
    place-items: center;
    
}


.vk {
    
    background-color: rgb(110, 110, 241);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: grid;
    font-display: center;
    place-items: center;
    color: white;
}

.zivotopis {
    font-display: center;
    display: grid;
    font: impact;
}


.a {
    background-color: aquamarine;
}