

.example1{
    background: pink;
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
}

.parent {
    background: lightblue;
    width: 200px;
    height: 200px;


}

.child{
background: olive;
width: 50%;
height: 50%;

}

.body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.master{
    background: yellow;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
}

.negr{
    background: pink;
    width: 50%;
    height: 50%;
    place-items: center;
    
    
}

.panel {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: darkcyan;
    margin-bottom: 16px;


}
.neco {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 3px;
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: ridge;
    border-bottom-style: double;
    border-color: darkcyan;
    border-right-color: blue;
}

.necomix {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border: 5px solid brown
}

.box {
    background: lightgreen;
    width: 50px;
    height:50px;
    display: grid;
    place-items: center;
    border-width: 3px;
    margin: 20px auto;
    padding: 50px;
    
}

.section {
    text-align: left;
    font-family: sans-serif;
}

.demo {
      background: lightgreen;
    width: 300px;
    height:50px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 80px;
    display: grid;
    margin: 20px auto;
    place-items: center;
    border-width: 3px;
    border-style: solid;

    
}