div {
    background: mediumspringgreen;
    color: brown;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}
.info {
    color: navajowhite
}
.warning {
    color: green;
    font-weight: bolder;
}

#warning {
    color: darkred;
}

p:last-child {
    color:blueviolet
}